################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/
/.vs/*
/FlightControlWeb/bin
/FlightControlWeb/bin/*
/FlightControlWeb/obj
/FlightControlWeb/obj/*